


@media screen and (max-width:576px){
    .pic-btn{
        position: relative;
        bottom:75px;
        background-color: rgba(11, 11, 11, 0.50);
        height:75px
    }
    

}

@media screen and (min-width:576px) and (max-width:992px){
    .pic-btn{
        position: relative;
        bottom:125px;
        background-color: rgba(11, 11, 11, 0.50);
        height:125px
    }
    
}

@media screen and (min-width:992px) {
    .pic-btn{
        position: relative;
        bottom:125px;
        background-color: rgba(11, 11, 11, 0.50);
        height:125px
    }
    

}