.slide{

    height: 600px;
    background-image: url('https://i.ibb.co/KhM576V/Rectangle-4288.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity:0.2
}


